<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
  <title>Responsive Navigation Bar</title>
</head>
<body>
   
  <div class="BG">
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">StayCation</label>

      <ul>
        <li><a class="active"routerLink="/home">Home</a></li>
        <li><a  routerLink="/profile">Profile</a></li>
        <li><a href="#">Booking</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
  
</body>
</html>