<!-- <div>
    output '26%'
    <p>A: {{a | percent}}</p>-->

    <!--output '0,134.950%'
    <p>B: {{b | percent:'4.3-5'}}</p>-->

    <!--output '0 134,950 %'
    <p>B: {{b | percent:'4.3-5':'fr'}}</p>
  </div> -->

  <input [(ngModel)]='a'type="text" id="name" required="required"/>
<!-- <div>
     <input [(ngModel)]='a'type="text" id="name" required="required"/>
    <p>US Dollar: {{a | currency}}</p>

    <p>Canadian Dollar: {{a | currency:'CAD'}}</p>


    <p>Indian Rupee: {{a | currency:"INR"}}</p>

  </div> -->

  <!-- <h2>Power Booster</h2>
  <p>Super power boost: {{2 | ConvertPipe: 10}}</p> -->

  <div>{{a| convert}}</div>

