<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<h1 >Good Morning , {{name}}</h1>

<div class="centered">
    <div class="group">
      <input [(ngModel)]='name'type="text" id="name" required="required"/>
      <label for="name">Name</label>
      <div class="bar"></div>
    </div>
  </div>

<!-- <input [(ngModel)]="name" type="text"> -->
<!-- background:url('https://cdn.pixabay.com/photo/2015/10/12/14/59/milky-way-984050_960_720.jpg') #444; -->